#header-wrapper{
    display: flex;
    flex-direction: row;
    background-color: #49b7aa;
    color: white;
    padding: 1em;
    justify-content: space-between;
}

#wrapper-settings {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

#wrapper-settings button{
    padding: 1em;
    margin: .5em;
    border-radius: 10px;
    border-style: none;
}

#availability-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #19474149;
    border-radius: 10px;
    padding: .7em .5em .4em .5em ;
    
}

#availability-wrapper p{
    margin: 1em;
}